body {
    font-family: Arial;
    padding: 20px;
    padding-top: 70px ;
    background-color: #e7eded;
}
h2 {
    background-color: #3c8098;
    color: white;
    padding: 10px;  
    border-radius: 5px;
    text-align: center;
}
.btn:hover {
    filter: brightness(90%);
    transition: 0.3s;
    background-color: rgb(237, 62, 214);
    transform: scale(1.05);
}
.col-md-8{
    padding: 15px;
    max-height: 300px; 
}
.table-bordered th, 
.table-bordered td {
    border: 1px solid #000;
}
table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}
td button {
    margin-right: 5px;
}
td:nth-child(3) {
    white-space: nowrap;
}
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .navbar-nav .nav-item {
    margin-right: 10px;
}
    form input, form button {
        font-size: 14px;
    }
    body {
        padding-top: 120px;
    }
}
.navbar-toggler {
    border-color: #007bff;
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

